[2016-11-07 14:45] aliaksandrbasau opened #2 "Parallel Execution support"
SpecFlow throws the following exception when scenarios are run in parallel:

At the moment there is no way to resolve the issue because of inherited limitation of SpecFlow that will be addressed in https://github.com/techtalk/SpecFlow/issues/552.

[2016-12-13 16:35] fasterfish opened #3 "Logging step result"
At any step of feature i do Console.WriteLine("Something"), but the result of this action is not displayed on the portal.

Example Method:

public void GivenIHaveEnteredSomethingIntoTheCalculator(int number)
{
Console.WriteLine("This is sparta!!!!!!");
}

Actual Result:
![screenshot_1](https://cloud.githubusercontent.com/assets/18389889/21148981/c86cf118-c17b-11e6-97a8-eb9bc824460d.png)

Maybe I'm

[2016-12-13 16:53] aliaksandrbasau commented on #3
You will need to use one of logger libraries instead of writing messages directly to Console. There are a number of popular logging libraries that are supported - System.Diagnostics.TraceListener, nlog, log4net. And there are Report Portal libraries for integration with these loggers. You can find them under https://github.com/reportportal. Their repository names start with "logger-net-". The inte

[2016-12-14 04:21] fasterfish commented on #3
Thank you. I added Nlog and logger-net-nlog into the project - it works fine.

![screenshot_2](https://cloud.githubusercontent.com/assets/18389889/21169516/bc0b7436-c1de-11e6-89f2-44e25fb37e71.png)

[2016-12-14 04:21] #3 closed

[2016-12-15 05:12] fasterfish opened #4 "Tags from SpecFlow examples aren't added"
When I run the following scenario from Nunit console runner:

[code]
For each example at the report portal I see only scenario tags:
![screenshot_1](https://cloud.githubusercontent.com/assets/18389889/21212297/2d2fa21c-c2ad-11e6-8034-7cb254da079b.png)
but specified examples tags aren't exists.

Test result xml in attachment:
[TestResult.txt](https://github.com/reportportal/agent-net-specflow/files

[2016-12-15 14:04] aliaksandrbasau commented on #4
There is known issue in SpecFlow 2.x (https://github.com/techtalk/SpecFlow/issues/718). You can update specflow to 2.2 pre-release version (it's available on NuGet) and it will be fixed.

[2016-12-15 14:21] nvborisenko commented on #4
@aliaksandrbasau could you please close this issue when impediment is resolved? Thx.

[2016-12-17 07:24] fasterfish commented on #4
No problem, thank u too.

[2016-12-22 11:35] nvborisenko opened #5 "Disable specflow plugin if server is down"

[2016-12-28 04:11] #4 closed

[2017-01-25 10:30] nvborisenko opened #6 "Failed user's hooks break RP integration"
[code]

[2017-01-25 10:34] nvborisenko commented on #6
@aliaksandrbasau I see that there is possibility to order hooks. We can use this for "Before" statements: RP should be the first.
But I cannot understand how to use it for "After" statement. As I see if the first hook fails the second hook is never called.

[2017-02-02 12:29] #6 closed

[2017-06-06 16:42] fasterfish opened #12 "Possibility to send reports to one launch"
I have the need to send reports from different OS and test runs to the same launch in the report portal.
Could you implement this possibility?

[2017-06-06 16:55] aliaksandrbasau commented on #12
This is no so easy task but it's doable. Here is how we do it on my project:
1. CI server creates a RP launch and saves the launch id to app.config of test binaries.
2. Test binaries are copied to VMs and run there.
3. The tests start and see that there is launch id in app.config and don't create a new launch - they re-use the existing one. Also they don't close it once they are done.
[code]
4. Wh

[2017-06-06 16:55] #12 closed

[2017-06-06 16:59] DzmitryHumianiuk commented on #12
@aliaksandrbasau could you also copy it into created question:
https://stackoverflow.com/questions/44395799/possibility-to-send-reports-to-one-launch-in-reportportal-for-net-specflow

[2017-06-06 17:01] aliaksandrbasau commented on #12
@DzmitryHumianiuk I will.

[2017-06-06 17:26] fasterfish opened #13 "Hook attributes work incorrectly"
For example, I want to use the[ following hook attributes](https://github.com/techtalk/SpecFlow/wiki/Hooks).

I use the following versions of the components:
ReportPortal.Client 1.2.7
ReportPortal.NLog 1.1.5-beta-2
ReportPortal.Shared 1.2.2-beta-1
ReportPortal.SpecFlow 1.2.0-beta-4
SpecFlow 2.1.0
NUnit 3.7.1
NUnit.Console 3.6.1
NLog 4.4.10

After running the tests in the console, I see the usual l

[2017-06-06 17:44] aliaksandrbasau commented on #13
I don't think it's feasible to see messages from Before/After Feature/Run hooks on RP as the test item where they should be logged doesn't not exist at that point.
It all comes down to the limitation/feature that only test items can have log messages (but not test suites).
Logger libraries will see that Bridge.Context.TestId is null and will not even try to log the messages.

Please let me know if

[2017-06-07 05:34] fasterfish commented on #13
@aliaksandrbasau, this answered only a part of my question. And what about the BeforeScenario hook?
You can see an example, I tried to use all possible hooks in it.

Nevertheless, I would like to be able to log the steps before scenario and before the "given" step.

[2017-06-07 13:10] fasterfish commented on #12
@aliaksandrbasau when I run a single test, the results do not fall on the reportportal.
What versions of Nuget packages (Specflow, Unit Test Runner, ReportPortal) do you use?

[2017-06-07 15:17] aliaksandrbasau commented on #13
The issue with BeforeScenario will be fixed in the next release (or in the current beta release).
The second issue is just a result of log items created at the very same time. That's why they have random and weird order.

[2017-06-07 15:17] #13 closed

[2017-06-07 15:20] aliaksandrbasau commented on #12
I am using SpecFlow 2.2.0-preview20161020, NUnit 2.6.4, log4net 1.2.10 and RP integration library from https://github.com/reportportal/example-net-specflow-nunit2-log4net.

[2017-06-07 15:47] DzmitryHumianiuk commented on #2
@aliaksandrbasau @nvborisenko
i see that reffred issue closed at [techtalk/SpecFlow#552](https://github.com/techtalk/SpecFlow/issues/552)

will it unblock current issue?

[2017-07-07 15:48] nvborisenko opened #16 "Agent doesn't work with Specflow 2.2"
OneTimeSetUp: System.TypeLoadException : Could not load type 'TechTalk.SpecFlow.Configuration.RuntimeConfiguration' from assembly 'TechTalk.SpecFlow, Version=2.2.0.0, Culture=neutral, PublicKeyToken=0778194805d6db41'.

[2017-07-11 19:06] aliaksandrbasau commented on #2
@DzmitryHumianiuk, @nvborisenko,
I am going to take care of it eventually. The implementation was unblocked by that fix and I even made some progress there but faced with another issue. It looks like SpecFlow doesn't support running NUnit 3 tests from the same fixture in parallel. Parallelization on the fixture level works fine but not on the test level. An deeper investigation still needs to be d

[2017-07-16 23:53] aliaksandrbasau commented on #2
The issue is currently blocked by https://github.com/techtalk/SpecFlow/issues/894 and https://github.com/techtalk/SpecFlow/issues/886.

[2017-07-19 17:48] nvborisenko commented on #2
Right, specflow cannot generate [Parallelization] attribute into *.cs files. Only 1 possible way is to specify parallelization on assembly level. I propose to support this in our agent due there are no others ways for parallelization with nunit3 provider.

But there are some another runners which support parallelization, eg SpecRun. This guy can execute tests in the same feature in parallel. Let's

[2017-07-19 19:50] aliaksandrbasau commented on #2
We could generate [Parallelization] attributes for tests by implementing a custom generator class based on NUnit3TestGeneratorProvider (https://groups.google.com/forum/#!topic/specflow/8Tp0QyfgpbU).
SpecFlow currently allows to generate ParallelizableAttribute for fixtures (according to https://github.com/techtalk/SpecFlow/issues/886).

I tried to run tests with SpecRun. https://github.com/techtal

[2017-07-19 20:15] nvborisenko commented on #16
@aliaksandrbasau Alex, is it reproducible for you too?

[2017-07-21 02:41] aliaksandrbasau commented on #16
@nvborisenko Yep. Constructor parameters of BindingInvoker were changes and it caused an error on runtime. I prepared a pull request #17  that should resolve the issue/

[2017-07-21 15:05] #16 closed

[2017-07-23 23:41] nabsofken opened #18 "Cannot set launch info during runtime"
I have the following code:

[code]

When I run my tests I only see the launch info set in the App.Config file in the RP server. If I comment out the launch line from App.Config, I don't see the run on the RP server.
using specflow 2.2, nunit 3.7

[2017-07-24 03:04] aliaksandrbasau commented on #18
I think I know what is the cause of the issue. Your BeforeTestRun hook is executed after a launch is created. It happens because the BeforeTestRun hook from plugin has lower order (-20000) and it's executed before yours.
It was done intentionally in order to see that there is something wrong with the launch if the hook throws an exception for any reason or in case if you want to log messages from

[2017-07-24 03:04] #18 closed

[2017-07-24 03:31] nabsofken opened #19 "results are not complete"
I am running specflow tests but the results generated are very basic. It only shows the Given when then steps but no information regarding the BeforeScenario hooks etc and the failing step is not highlighted red. below is a screenshot. Anyway I could improve this? I am using Bridge.LogMessage to insert the screenshot in the result.
![rp](https://user-images.githubusercontent.com/1247761/28507195-f

[2017-07-24 13:02] aliaksandrbasau commented on #19
In order to see the messages logged from the hooks and tests you need to use one of logger libraries for .net ([logger-net-*](https://github.com/reportportal?utf8=%E2%9C%93&q=logger-net-)).
The failed step will not be highlighted. Only messages logged with Error log level will be highlighted red.

[2017-07-24 13:02] #19 closed

[2017-10-13 16:57] DzmitryHumianiuk commented on #2
@aliaksandrbasau https://github.com/techtalk/SpecFlow/issues/886 closed on Aug 29. 2017

[2017-10-13 17:02] aliaksandrbasau commented on #2
@DzmitryHumianiuk I saw that one. Still waiting for https://github.com/techtalk/SpecFlow/issues/894 to be resolved.

[2017-10-19 20:05] nvborisenko commented on #2
@aliaksandrbasau Alex, I played with ContextInjection and it seems workable. Only 1 issue that I didn't resolve: I cannot get the context in `TraceError()` method in our `ReportPortalAddin` class. Specflow raises the exception about non-initialized object container.

As I understand the current progress of this issue you are waiting until #894 will be resolved. But #894 is about nunit and level of

[2017-10-19 20:10] aliaksandrbasau commented on #2
@nvborisenko Sure. Sounds reasonable. Let's release the agent with feature-level parallelization support. I will work on it on weekend and will publish the branch with my results.

[2017-10-23 03:08] aliaksandrbasau commented on #2
@nvborisenko The issue with getting a context in `TraceError()` is a major one. I think we will have to re-implement reporting step results differently. Instance of `ITestTracer` belongs to global container and doesn't have access to `FeatureContext` or `ScenarioContext` (see https://github.com/techtalk/SpecFlow/wiki/Available-Containers-&-Registrations).
I am working on replacing our implementati

[2017-10-24 15:11] nvborisenko commented on #2
Created pull request into specflow repo about internal TestStatus property https://github.com/techtalk/SpecFlow/pull/963
Not sure in which version it is going to be available.

[2017-11-01 08:51] avarabyeu commented on #2
@nvborisenko Kolya, PR has been merged. Do we expected any activities on the current issue?

[2017-11-01 11:15] nvborisenko commented on #2
Waiting new release of specflow, and then we will rewrite agent.

[2018-02-26 10:35] yurahunter commented on #2
[SpecFlow 2.3](https://github.com/techtalk/SpecFlow/releases/tag/V2.3.0) is released

[2018-02-26 14:10] aliaksandrbasau commented on #2
@yurahunter Thanks! I will work on re-testing and merging the changes for Parallel Execution support I implemented.

[2018-02-26 14:13] yurahunter commented on #2
@aliaksandrbasau thanks! Looking forward for this feature

[2018-03-01 03:48] aliaksandrbasau commented on #2
@nvborisenko Could you please release a new version of ReportPortal.Shared that will have dependency on ReportPortal.Client (>= 2.0.0)?

[2018-03-01 09:54] nvborisenko commented on #2
@aliaksandrbasau no big changes in client 2.0.0. You can use beta of shared. New release of shared is coming which will shared across app domains. I propose to start development with current beta, and then migrate to released shared library. Thanks for understanding.

[2018-03-01 14:08] aliaksandrbasau commented on #2
@nvborisenko WellKnownIssueType struct is missing in ReportPortal.Client 2.0.0-beta3 that is referenced by the latest ReportPortal.Shared (2.0.0-beta3). I am okay with having a new beta release of ReportPortal.Shared. Or I can always hard-code issue types :) What do you think?

[2018-03-01 19:10] nvborisenko commented on #2
ReportPortal.Shared.2.0.0-beta4 pushed to nuget

[2018-03-01 19:29] aliaksandrbasau commented on #2
@nvborisenko Many thanks!

[2018-03-02 03:05] aliaksandrbasau commented on #2
I have committed the initial version (pull request #21). It was tested with NUnit3, MSTest, XUnit and SpecRun and with Log4Net logger. MbUnit unit framework seems dead so I didn't spend any time testing it.
MSTest is the only one without class level parallelization support. Although the feature was recently introduced in beta build (https://blogs.msdn.microsoft.com/devops/2018/01/30/mstest-v2-in-a

[2018-03-16 13:03] #2 closed

[2018-03-23 12:15] yurahunter commented on #2
@aliaksandrbasau I've installed ReportPortal.SpecFlowPlugin beta-20 but the issue is still reproducable.
xUnit.net + SpecFlow + report portal. Report portal test run is empty

[2018-03-23 12:57] aliaksandrbasau commented on #2
@yurahunter I am going to try to reproduce it myself later. But for now, could you do a preliminary investigation and post your findings (e.g. exception, Fiddler log, etc.)?

[2018-03-23 13:35] yurahunter commented on #2
@aliaksandrbasau sorry, test run is empty for beta-7, but for beta 20 I'm getting following exception
[code]
ReportPortal.Client version="2.0.0"
ReportPortal.Shared version="2.0.0-beta4"
ReportPortal.SpecFlow version="1.2.2-beta-20"
SpecFlow version="2.3.1"
SpecFlow.CustomPlugin version="2.3.1"
SpecFlow.xUnit version="2.3.1"

[2018-03-23 13:43] aliaksandrbasau commented on #2
@yurahunter Thanks! I will investigate the issue later. I suspect that either FeatureInfo.Description or FeatureInfo.Tags are empty, and the agent doesn't handle it well.
As a potential workaround I would add a description or tags to your feature file.

[2018-03-23 14:09] yurahunter commented on #2
@aliaksandrbasau Yes! You are right. It requires feature description

[2018-03-23 16:47] aliaksandrbasau commented on #2
@yurahunter I have created a pull request (#23) to fix the issue. Many thanks for reporting it! And sorry about it.
@nvborisenko Please review the pull request and release a new beta version.

[2018-07-02 15:15] yurii-hunter opened #25 "Scenario description is missed"
Initially, we had a description for a scenario in report portal for the SpecFlow client which contained scenario steps, for now, it is missed. The change was made in the scope of this PR [Initial Parallel Execution support](https://github.com/reportportal/agent-net-specflow/pull/21/files/7c00ddfcab37c55a9a218e5133c0da1a29d63462) by @aliaksandrbasau, and variable CurrentScenarioDescription is marke

[2018-07-02 16:33] aliaksandrbasau commented on #25
@yurii-hunter I removed it because it seemed like a solution for very specific case. I don't think that it should be a default behavior since it duplicates text of all steps in test item description. The same text can be found under test item as logs.
I understand that it can be useful in some cases but it should not be a default behavior.

It should rather be implemented in your solution using ex

[2018-07-03 09:22] yurii-hunter commented on #25
@aliaksandrbasau sounds reasonable. So, if it is by design - I'm ok. I will implement it on my own in a work project. Just wanted to make sure

[2018-07-03 12:53] aliaksandrbasau commented on #25
@yurii-hunter Please let me know if you need scenario and feature context properties in EventArgs classes.
Closing the issue for now.

[2018-07-17 16:17] nvborisenko opened #27 "No error messages in console when exception has been thrown in plugin"
[code]

This line of code throws an exception (for instance if RP url is incorrect in config), but user doesn't see it in console output.

[2018-07-30 10:05] nvborisenko commented on #25
Let me reopen this issue. Definitely we don't want to see steps as scenario description. The future release of specflow will contain some description of scenarios (https://github.com/techtalk/SpecFlow/pull/1078). I am not sure what exactly it will contain, but let us to follow official way.

[2018-07-30 18:38] nvborisenko commented on #5
Could be resolved in scope of https://github.com/reportportal/agent-net-specflow/issues/27

[2018-08-23 22:30] Free1man opened #29 "Agent installation questions"
The Problem: Data about my test runs are not populated in ReportPortal server.

My actions:
1) I'm running ReportPortal in Docker container via Docker toolbox.
2) I can access the portal by IP:8080 and log in.
3) I have created the New Project in Report portal.
4) I have installed ReportPortal.SpecFlow to my project. (app.config was updated and ReportPortal.SpecFlowPlugin.dll.config was created)
5

[2018-08-24 13:13] aliaksandrbasau commented on #29
@Free1man Currently, because of the async nature of the agent, when an exception occurs it will not be visible to the main thread.
I suspect that there is something wrong with your configuration files.
There are ways to get more information about the issue.
1. Using Fiddler.
Launch Fiddler and try to reproduce the issue.
If you don't see any requests, try to force the agent to use the proxy server

[2018-08-24 15:02] nvborisenko commented on #29
@Free1man I guess launches my be found on "Debug" tab (left panel).

[2018-08-29 18:48] nvborisenko commented on #29
@Free1man did you resolve your issue?

[2018-09-03 17:33] mbnovick opened #30 "Screenshot on scenario error"
I'd like to use  `ReportPortal.SpecFlowPlugin`, but add a log item with an attached screenshot if there is a scenario error. Is there any way to do this?

`ReportPortalHooks.AfterScenario` handles the case where `ScenarioContext.ScenarioExecutionStatus` is `ScenarioExecutionStatus.TestError`, and adds a new log item, but it does not include a screenshot. I'd like to be able to add a log item conta

[2018-09-03 18:46] nvborisenko commented on #30
Added an example: https://github.com/reportportal/example-net-specflow/commit/bd125b856b3199621dfe60147f3e8f9eb769cbc1
Be noticed that you are required to save this image to file in this example. But there are other `formatters` such as `base64`. The list of available formatters: https://github.com/reportportal/commons-net/tree/master/ReportPortal.Shared/LogFormatters
If you need more formatters,

[2018-09-04 09:02] mbnovick commented on #30
The  example and the information on log formatters provided by @nvborisenko looks like it will be useful in the future, but it does not look so relevant for my needs here. If I follow this suggestion, I'll get two log items for an unsuccessful scenario: one from the call to `Bridge.LogMessage` and one from the `AfterScenario `hook in `ReportPortalHooks`. I only want to see one message. Is there so

[2018-09-04 09:30] nvborisenko commented on #30
Cannot understand which exact 2 log items you have. I see
![screenshot_1](https://user-images.githubusercontent.com/22616990/45023006-41035b00-b03e-11e8-807e-2710c78b3b30.png) It seems good to me.
Could you please describe what you want to see on RP?

[2018-09-04 10:13] mbnovick commented on #30
What you saw in RP illustrates the problem I'm talking about. You have two log items at the end: one of them contains a picture of a cat and the other shows the stack trace. I only want one log item. It should contain the stack trace and include a screenshot of my desktop at the top the error occurred. I don't know how I could create only one log item, which contains attached screenshot in this ca

[2018-09-04 10:30] nvborisenko commented on #30
Yes, it is possible. Give me some time, I will release a new version of plugin where this red log message can be canceled by your customization.
The idea is your will subscribe on `OnBeforeScenarioFinished` event, set `e.Canceled = true`, and now you are responsible how to finish test item.

[2018-09-04 11:09] nvborisenko commented on #30
Now with v1.2.5 you can do something like
[code]

[2018-09-04 14:55] nvborisenko commented on #30
@mbnovick is it resolving your issue?

[2018-09-04 14:57] mbnovick commented on #30
The suggestion mentioned by @nvborisenko seems to do most of what I want. One minor point: what if I added handlers for `ReportPortalAddin.AfterScenarioFinished` event? It looks like the handlers won't be invoked if I call `e.TestReporter.Finish` on my own. Is there anything I could do to make sure the handlers would be invoked after Finish?

[2018-09-04 15:33] nvborisenko commented on #30
Right, it is your responsibility.
[code]

[2018-09-04 16:17] mbnovick commented on #30
The problem is that you can't raise an event of a class from a different class in C#. See [https://stackoverflow.com/questions/4378339/raise-an-event-of-a-class-from-a-different-class-in-c-sharp](url) for instance. Some workarounds are described there, such as getting around the type safety of .NET or extensively using reflection.
If I try to add the code you suggested, I get an error message:
`Th

[2018-09-05 15:55] nvborisenko commented on #30
@mbnovick does it work for you?

[2018-09-06 10:42] nvborisenko commented on #30
Closing this issue. Please create separate issue in https://github.com/reportportal/commons-net repository if you don't use specflow.

[2018-09-06 10:42] #30 closed

[2018-09-06 14:48] #29 closed

[2018-09-24 15:16] nvborisenko commented on #5
Fixed in 1.3.0. plugin doesn't attempt to report if parent's request fails.

[2018-09-24 15:16] #5 closed

[2018-09-24 15:27] nvborisenko commented on #27
Error messages goes to `ReportPortal.log` file.

[2018-09-24 15:27] #27 closed

[2019-01-10 07:52] scabrerao opened #35 "Combine several execution in one launch [aka Re-run]"
When a project contains several assemblies and need to be run in parallel but wants to have all results in the same launch, its not possible obtain the launchId from the client/server specflow agent and need to be managed by reportPortal API directly to start new launch before build and at the end close that launch.

![image](https://user-images.githubusercontent.com/3327293/50953631-4d983400-14b4

[2019-01-10 09:50] nvborisenko commented on #35
Since this is popular question how to use combined launch for several test executions, and given that current way requires deep knowledge of internal `LaunchReporter` implementation, we can resolve it as built-in functionality.

User sets `Launch_Id` as environment variable (or json property), and agent uses it as `LaunchReporter`.

Waiting https://github.com/reportportal/commons-net/pull/14 and h

[2019-01-10 15:16] nvborisenko commented on #35
Done in 1.5.0. @scabrerao please follow readme file.

[2019-01-10 20:55] scabrerao commented on #35
Hi!  Thanks for this quick response.

i try it with 1.5.0 but works equal than before... create a new launch per assamblie
I remove the oldest lines (screenshot in y previous comment) and reading this explanation:

`Combine several execution in one launch
How it can be done:

CI server creates a RP launch and set REPORTPORTAL_LAUNCH_ID environment variable.
Execute tests as usual.
When all tests r

[2019-01-10 21:01] nvborisenko commented on #35
Please share your command how you execute several test assemblies.

[2019-01-10 21:08] scabrerao commented on #35
`.\packages\NUnit.ConsoleRunner\tools\nunit3-console.exe .\app1\bin\%ENVIRONMENT%\Tests.dll
.\app2\bin\%ENVIRONMENT%\Tests.dll
.\app3\bin\%ENVIRONMENT%\Tests.dll
.\app4\bin\%ENVIRONMENT%\Tests.dll
 --agents=4`

[2019-01-11 11:48] nvborisenko commented on #35
So many thoughts here how to do it, there are good and not good options. The issue is that 4 agents live in 4 separate machine processes. And the question is "who should create a launch?". It's possible to make 4 agents as friends, but we are talking about 1 machine. What if we want to make 4 agents on different machines as friends... In this case we need super-puper global context. Hm. RP server

[2019-01-11 14:21] aliaksandrbasau commented on #35
@nvborisenko My first thought was not to try to implement it on the agent side since there is no easy way to know which process is the first (and has to start a launch) and the last (and has to finish the launch). But after giving it a thought it seems possible to do.

When running in multiple-processes mode, each process will try to create a lock file. One that succeeds will create a launch and c

[2019-01-14 07:51] scabrerao commented on #35
thanks for all comments!

@nvborisenko i tried your first option (NUnit agent) and for one a **launch everything in one server works fine!**

I will wait to version 5 as @DzmitryHumianiuk said to implement in multiple machines :)

[2019-01-14 14:07] aliaksandrbasau commented on #35
@scabrerao I wouldn't put too much hope into the new re-run functionality (which is great and long-waited) since the issue with synchronization between processes will not be addressed by it. You will still have to know which process should start a launch. Although any process can close the launch as long as all other continue to report test items as re-runs.
But I can imagine at least 5 cases when

[2019-01-15 13:45] AlexanderTishchenko opened #36 "Сorrect display of retry tests"
In my project we run tests in Jenkins. I implemented possibility to rerun failed tests in Jenkins pipeline.
We start to run all tests by nunit console and then when it finished, for rerun we give the list of failed tests names to nunit console again as a separate run. For both run and rerun we use the same launch id. But finaly in report portal rerunned test looks like a separate test ![rerun_test

[2019-01-17 12:12] nvborisenko commented on #36
Based on my experiments It seems that TestItem should be started with "retry" property in http request. The issue is even if we report next test items as retries, the first test item must be created with "retry" property. Mmm, but agent doesn't know whether test will be executed again.

Retry should be improved on API side.

@aliaksandrbasau https://github.com/reportportal/client-net/blob/master/R

[2019-01-18 02:16] schoi1 opened #37 "GPL 3.0 License for .net agents"
Our company does not accept GPL license under any circumstances. So this license issue prevents us from using ReportPortal.

On this [GitHub issue](https://github.com/reportportal/reportportal/issues/293), Dzmitry noted that they will re-license all agents and integrations under Apache 2.0 license.

However, I noticed that only Java client has been updated and all other agents are still GPL licens

[2019-01-18 07:36] DzmitryHumianiuk commented on #36
it's only in @avarabyeu head for now

[2019-01-18 09:11] nvborisenko commented on #37
@DzmitryHumianiuk, is MIT license ok?

[2019-01-22 10:51] DzmitryHumianiuk commented on #37
@schoi1, we just need a time to complete it.
@nvborisenko will start to relicense .net related repos under Apache2.0.
2-3 days to complete

[2019-01-22 11:01] nvborisenko commented on #37
Changed to Apache2.0

[2019-01-22 11:01] #37 closed

[2019-01-25 12:10] mefateah opened #38 "Skipped steps are not shown in a report"
For some reason after upgrading NUnit and ReportPortal related libs:
ReportPortal.Client
ReportPortal.NLog
ReportPortal.Shared
ReportPortal.SpecFlow
I faced that skipped steps are not shown in a test report.
For example I run the following scenario from example project:
[code]
and made the scenario to fail in 'And I have entered 7 into the calculator' step
then I don't see all steps after the fail

[2019-02-01 10:15] nvborisenko opened #39 "Support SpecFlow 3.0 when it will be released"
Breaking changes:
- New configuration in `App.Config` file. Now it is removed at all.
- SpecFlow will discover RP plugin automatically (via dll file name).
- `Initialize` signature changed to `public void Initialize(RuntimePluginEvents runtimePluginEvents, RuntimePluginParameters runtimePluginParameters, UnitTestProviderConfiguration unitTestProviderConfiguration)`
- Plugin should copied to output

[2019-02-01 10:42] nvborisenko opened #40 "Plugin allows to continue feature execution if it fails in [BeforeFeature] hook"
#49 new `CucucmberMessages` might help.

[2019-02-02 21:08] aliaksandrbasau commented on #36
@AlexanderTishchenko Sorry about the delayed response! @nvborisenko is right. The retry functionality is not fully usable at this point since you would have to set `retry=true` for all test items during the initial run and you would have to rerun test without closing the initial launch.
I would wait for the RERUN functionality (https://github.com/reportportal/reportportal/issues/363).
If you need

[2019-02-04 08:39] AlexanderTishchenko commented on #36
@aliaksandrbasau

No, I tried to report both run and rerun in a single launch, I thought that they will be merged as it mentioned in documentation.
Now I implemented "Deep merge" option and I'll wait for RERUN functionality (reportportal/reportportal#363).
Thank you for your unswer?

[2019-02-04 19:34] aliaksandrbasau opened #42 "Plugin doesn't respect Enabled property from config"
The plugin always start RP launch even if `enabled=false` in `ReportPortal.config.json`. It reads `Enabled` config value only once when deciding whether to register `SafeBindingInvoker` in `Plugin.cs`.

[2019-02-20 12:52] #42 closed

[2019-03-07 09:11] Konorova1991 commented on #38
I have the same issue using NUnit 3. Could you receive this problem, please?

[2019-03-07 09:40] nvborisenko commented on #38
What was your previous version of `ReportPortal.SpecFlow` package you didn't meet this issue with?

[2019-03-07 11:38] mefateah commented on #38
@nvborisenko It worked with the following lib packages versions:
"NUnit" version="2.6.4"
"ReportPortal.Client" version="1.2.3"
"ReportPortal.NLog" version="1.1.8"
"ReportPortal.Shared" version="1.4.1"
"ReportPortal.SpecFlow" version="1.2.1"
"SpecFlow" version="2.1.0"

[2019-03-13 15:57] DzmitryHumianiuk commented on #35
@aliaksandrbasau

yes it will work with certain `launchID` as well.
That is a plan

[2019-03-13 21:40] DzmitryHumianiuk commented on #35
refers to https://github.com/reportportal/reportportal/issues/363

[2019-03-28 15:39] planetary-rasengan commented on #39
We're experimenting with SpecFlow 3 (3.0.188) and observed ReportPortal.SpecFlow 2.0.0-beta.2 is throwing an exception during test execution. Any updates on ReportPortal supporting SpecFlow 3?

[code]

[2019-03-31 18:48] nvborisenko commented on #39
SpecFlow 3.0.188 is released, ReportPortal.SpecFlow 2.0.0 is released too.

@pete-ryu, the fix of your above issue is included in v2.0.0.

[2019-03-31 18:48] #39 closed

[2019-04-05 02:05] gkalnytskyi opened #46 "Client failing to authorize"
When SpecFlow client connects to the ReportPortal it cannot pass authorization. The exception is following:

    System.AggregateException: One or more errors occurred. ---> System.Exception: Cannot finish launch due inner items failed to finish. ---> System.AggregateException: One or more errors occurred. ---> System.Exception: Cannot finish test item due starting item failed. ---> System.Aggrega

[2019-04-05 07:29] nvborisenko commented on #46
Token can be observed on user profile page, right top corner on the web ui.

Reopen this issue if you still have problems.

[2019-04-05 07:29] #46 closed

[2019-04-10 17:55] DzmitryHumianiuk commented on #36
related to
https://github.com/reportportal/reportportal/issues/363

[2019-06-17 13:51] damianpereira86 commented on #35
@nvborisenko I'm running into the opposite scenario of Item 1. I'm using NUnit Agent to run several assemblies, and would like each assembly to have it's own Launch, but they are all included in one Launch. Is there a way to accomplish this, other than running each assembly separately?

[2019-06-17 15:27] aliaksandrbasau commented on #35
@damianpereira86 I wouldn't implement it on agent side because it couldn't be fully implemented that way. We would still need orchestration at the higher level - create a launch, save its ID, pass the ID to all agents running on different machines, run the tests, wait for all tests to finish and then close the launch.

If the functionality to start and close a launch is implemented on agent side,

[2019-06-17 16:37] nvborisenko commented on #35
@damianpereira86 please create a separate issue in `agent-net-nunit` repository. This is topic for discussion, somebody wants to have one single launch for test assemblies, others - different launches. I know that nunit creates single xml report, correct me if I'm wrong.

[2019-07-29 21:27] MithunDavid opened #47 "Both nunit & SpecFlow launch for a single run in .NET but not in .NET Core"
We are seeing both Nunit and Specflow launch for a single run in .NET. But for .NET Core, Its working correctly. Only SpecFlow launch shows up here.

[2019-07-30 01:25] nvborisenko commented on #47
Seems you have installed several agents: **ReportPortal.NUnit** and **ReportPortal.SpecFlow**. Choose one which you like more.
If it doesn't work for you, please describe the issue with more details.

[2019-07-30 15:40] MithunDavid commented on #47
Yes. ReportPortal Nunit reference was pulling from framework. Thanks for pointing it. Issue is fixed.

[2019-07-30 15:40] #47 closed

[2019-09-26 04:18] gkalnytskyi opened #48 "Specflow agent 1.5.1 and ReportPortal v5"
My company is evaluating ReportPortal and recently upgraded the installation to ReportPortal 5 (beta). The issue at the moment is that I cannot log any data to ReportPortal 5, even though the agent configuration hasn't changed much. Also, no "ReportPortal.log" file is created when I run tests to allow me to understand the issue.

Nuget packages:
- ReportPortal.Client 2.1.14
- ReportPortal.Shared 2

[2019-09-26 06:47] nvborisenko commented on #48
Known issue in beta https://github.com/reportportal/reportportal/issues/684

[2019-09-26 07:05] gkalnytskyi commented on #48
And what about the absence of ReportPortal.log file?

[2019-09-26 07:58] nvborisenko commented on #48
It might be issue, but I guess issue is in nuget packages. I see you installed the latest Shared package, while RP.SpecFlow is still old. Please resolve dependencies. Example: RP.SpecFlow requires Shared v2.1.4, which requires RP.Client 2.1.8. Please try these exact versions.

Actually we didn't introduce constraints in nuget packages. Your case is good to think about it.

[2019-09-26 23:05] gkalnytskyi commented on #48
Hello @nvborisenko ,  I have downgraded the packages and reran the tests, and still no ReportPortal.log file was generated.

[2019-09-27 16:26] nvborisenko commented on #48
Please prepare simple test project to reproduce the issue. It will be very useful in figuring out what is wrong.

[2019-10-29 18:08] nvborisenko opened #49 "Investigate Cucumber Messages functionality for plugin"
Current approach is based on hooks like [AfterScenario] or [BeforeFeature]. Using it we injects our hooks to be able to handle execution events.

New versions of SpecFlow introduced Cucumber Messages, where they raise events for 3rd party plugins. We need investigate it whether it suites our need.

https://github.com/techtalk/SpecFlow/wiki/Cucumber-Messages

[2019-11-12 11:56] nvborisenko opened #50 "User's event subscribers might break reporting"
https://github.com/reportportal/agent-net-specflow/blob/1be62cb7c99ae13f53f23c431ba499e9acac3a23/src/ReportPortal.SpecFlowPlugin/ReportPortalHooks.cs#L43

If user wants report customization, he subscribes to reporting events. If event handler throws an exception, then plugin cannot send the report.

Solution: try/catch all handler invocations, and write out a message to internal log file.

[2019-11-12 18:23] #50 closed

[2019-11-12 18:39] nvborisenko commented on #50
Fixed in v2.1.4

[2019-11-14 19:15] nvborisenko commented on #48
@gkalnytskyi, closing it due inactivity, feel free to reopen if the issue is still reproducible.

[2019-11-14 19:15] #48 closed

[2019-11-14 19:17] nvborisenko commented on #38
#49 new `CucucmberMessages` might help.

[2020-01-24 09:49] nvborisenko opened #51 "Introduce nested steps"
https://github.com/reportportal/reportportal/issues/275

[2020-01-28 17:29] DzmitryHumianiuk commented on #51
https://github.com/reportportal/documentation/blob/master/src/md/src/DevGuides/reporting.md#start-childnested-step-item

[2020-01-31 18:08] nvborisenko commented on #49
It's not fine approach yet, specflow provides 4 events: run started/finished, scenario started/finished. Hooks approach works better at this moment.

[2020-01-31 18:31] nvborisenko commented on #35
RP v5 is coming with re-run functionality. As expected, user should say before tests execution, that launch should be "appended" into existing one. This is responsibility of user to specify whether new launch should be created, or should not be. So re-run functionality doesn't help us much.

Continuing discussion:
- Agent tries to create global sync context (machine scoped) and all instances are r

[2020-01-31 18:46] DzmitryHumianiuk commented on #35
@nvborisenko for `client-java` we implemented process of self-merging multiple threads/launches.

https://github.com/reportportal/client-java/wiki/How-to-aggregate-Multi-thread-process-execution-in-one-launch

The idea is to create a **local locked file**, which shares active launch ID.
File remains locked while process, which created it, is alive.
Any thread at the starting moment tries to delete

[2020-02-04 16:00] nvborisenko opened #52 "Reporting is broken if users code throws exception in event handlers"
https://github.com/reportportal/agent-net-specflow/blob/e77b9af6d560ae74b88f58130197b28021177f55/src/ReportPortal.SpecFlowPlugin/ReportPortalHooks.cs#L46

We need wrap it with try/catch block, ignore exceptions, and put it into internal logs.

[2020-02-04 20:36] nvborisenko commented on #52
https://codeshare.io/5z1x0j

[2020-02-08 15:58] nvborisenko commented on #35
Thumbs up for the feature: if test assemblies are running in parallel (in different threads or different processes), they should be appeared in single launch. This feature should be built-in feature in agent. It can cover machine scoped cases, and doesn't cover distributed execution.

[2020-05-06 13:19] #51 closed

[2020-05-06 13:21] #38 closed

[2020-05-26 10:45] nvborisenko commented on #36
Rerun is here. Please try v3.0.0-beta.2 which is compatible only with RP5+. Before rerunning your failed tests, set `Launch:Rerun` configuration property to `true`.

https://github.com/reportportal/commons-net/blob/develop/docs/Configuration.md#reporting-experience

[2020-05-26 10:45] #36 closed

[2020-07-02 04:35] winstondz opened #54 "New version pointing to latest version of specflow"
I am receiving an error where its looking for the older specflow version (3.1.0) when using v3.0.0? Is there a new one which points to v3.3.30 of specflow.
Also when using nunit as the test runner, for specflow scenarios with @ignore tag, the report portal tests don't end, but are stuck with a status of 'in progress' . Will this nuget package resolve that issue? I am using the nunit report portal

[2020-07-02 09:03] nvborisenko opened #55 "Ignored scenarios don't come to RP"
[code]

ReportPortal.SpecFlow v3.0.0-beta.3

[2020-07-02 09:04] nvborisenko commented on #54
1. Cannot reproduce issue with versions mismatching. The latest beta requires SpecFlow >= 3.1.80 You can see minimum supported version on https://www.nuget.org/packages/ReportPortal.SpecFlow/3.0.0-beta.3
![image](https://user-images.githubusercontent.com/22616990/86338559-2494d180-bc5b-11ea-9ec7-0f6610429057.png)

The coming release will require v3.3.0 as minimum supported version.

2. Also I cann

[2020-07-08 13:05] nvborisenko commented on #54
@winstondz closing it, feel free to reopen.

[2020-07-08 13:05] #54 closed

[2020-07-23 16:50] winstondz commented on #54
Sorry. I have been off for the week. I was able to resolve it by re installing the packages

[2020-08-20 17:03] winstondz opened #57 "Example of adding feature description"
I looked through the example agent-net-specflow and I see that the feature description gets added in report portal. Do I have to write something in the customization file or in the hooks for this. If so is there an example? I have both specflow as well as normal nunit tests and if possible want to use just the nunit one (instead of both), but also have the specflow feature description printed? Is

[2020-10-28 21:03] Jaskaran121 opened #58 "Full Title in Case of scenario outline not showing. [Question]"
Feature: CalculatorFeature
	 In order to avoid silly mistakes
	As a math idiot
	I want to be told the sum of two numbers

@BasePage
Scenario Outline: Basepage is Calculator
	When I navigate to the Calculator page

Scenarios:
| Browser |
| Chrome  |
| IE	        |

**Right now i am not able to see full scenario name, like it shows in specflow runner.**

![test](https://user-images.githubusercontent

[2020-10-29 14:03] nvborisenko commented on #58
Thanks for point at this behavior. I don't mind that agent will put scenario outline parameters as item description.

@Jaskaran121 It will be implemented in the next agent release.

[2020-10-29 19:41] nvborisenko commented on #58
@Jaskaran121 please review the following suggestion

![image](https://user-images.githubusercontent.com/22616990/97624135-b957e200-1a37-11eb-80af-9f2a82aeb6a1.png)

Table represents scenario outline examples. `a` and `b` are parameters.

[2020-10-29 19:44] Jaskaran121 commented on #58
@nrodiontsev2 Yes this will work....though really fast work I was myself thinking of creating a PR for this. ;)
Sorry for asking this question so early... but when do you guys are planning to release this?

[2020-10-29 19:57] nvborisenko commented on #58
Now. v3.0.1 is available (give 10 mins for indexing).

[2020-10-29 19:57] #58 closed

[2020-11-05 21:21] nvborisenko commented on #57
Closing due inactivity, feel free to reopen.

[2020-11-05 21:21] #57 closed

[2020-11-11 13:46] nvborisenko opened #59 "Logs are not shown if tests are running in parallel"
[code]

[2020-11-11 17:34] #59 closed

[2020-11-13 08:26] nvborisenko opened #60 "Report feature/scenario tags as key/value attributes if tag contains `:`"
Let's say scenario has tag `browser:chrome`. Now plugin reports it as `Tag:browser:chrome` where `Tag` is attribute key, and `browser:chrome` is value.

It would be better if plugin can understand this special tag, which contains `:`, and will report it as key=`browser` and value=`chrome`.

[2020-12-07 21:38] santhosh-James opened #61 ".net core 3.1"
The reports are not getting logged when using .net core 3.1 for both specflow and nunit

Tried from Visual studio Test explorer and using Dotnet test command line.

I have the nunit3Tesstadapter 3.17.0 and installed specflow and specflow.nunit , Reportportal.Nunit(4.0.0) and Reportportal.specflow(3.0.2)

[2020-12-09 20:45] santhosh-James opened #62 "Specflow result"
Right now Reportportal shows the feature file in report and when an exception happens it create another row in the report to show the test output.

I want to log some additional information to the report. I want to do it from the [After Scenario] in specflow hook. Is there a way that I can do it?

I tried Log.Trace() in Afterscenario but it is not working consistently and only works if some except

[2020-12-10 16:07] nvborisenko commented on #62
You are doing right. I tried and see my log messages. Please add more details.

[2020-12-14 22:22] itsho commented on #35
Until the proposed solution(s) will be done - I'll kindly ask - Is it possible to bring back the option to set the LaunchId - as suggested in the body of the issue and as suggested in https://github.com/reportportal/agent-net-specflow/issues/12 ?

The reason I'm asking is that it worked **just perfect** before - with older versions of _SpecFlow_, but after upgrading to v3.x this is no longer an op

[2020-12-15 13:53] nvborisenko commented on #35
Setting it from hooks
[code]

More properties: https://github.com/reportportal/commons-net/blob/develop/docs/Configuration.md#reporting-experience

[2021-02-04 07:21] astastast opened #63 "There is no argument given that corresponds to the required formal parameter 'duration' of 'ITestTracer.TraceError(Exception, TimeSpan)'"
after update SpecFlow to 3.6.23 duration value required at src\ReportPortal.SpecFlowPlugin\SafeBindingInvoker.cs

[2021-02-04 10:20] #61 closed

[2021-02-04 10:24] #62 closed

[2021-02-04 10:30] nvborisenko commented on #52
Not reproducible.

[2021-02-04 10:30] #52 closed

[2021-02-04 10:54] #63 closed

[2021-02-04 11:00] nvborisenko opened #65 "No need to investigate skipped scenarios"
v3.0.2 reports skipped scenarios with `To investigate`. In this case auto-analyzer doesn't analyze skipped scenarios.

It would be better if agent will report skipped scenarios with `No Defect`, so user is not required to manually analyze it.

[2021-03-05 11:00] #60 closed

[2021-03-05 12:55] nvborisenko opened #68 "Assembly Initialization method Example_SpecFlow_MSTestAssemblyHooks.AssemblyInitialize threw exception. System.MissingMethodException: System.MissingMethodException: Method not found: 'Void BoDi.ObjectContainer.RegisterTypeAs(System.String)'.. Aborting test execution."
RP 3.1.0
SpecFlow 3.7.13

This is because of binary breaking change

[2021-03-05 13:13] #68 closed

[2021-08-05 12:18] centu81 commented on #65
Issue still valid on 3.2.0.
Results:
- skipped tests are marked "To investigate"
- It is no possible to change the category
- in column Skipped there is no number of skipped tests

[2021-08-11 15:45] nvborisenko commented on #65
@centu81 probably this is your case: #55

[2021-08-25 13:12] iRetlaWM opened #70 "Skipped Scenarios are not displayed in RP"
I had 2 behaviors:
1. When I use the @ignore tag used for Specflow to skip an scenario this does not appears in the RP, but this is displayed in the console log running with dotnet
![image](https://user-images.githubusercontent.com/86801327/130795516-aaa5dee5-a738-49ff-82d1-673148b8dd64.png)
So basically if I had 10 scenarios and 2 of them are with this tag ... we have only 8 scenarios displayed i

[2021-08-25 14:49] nvborisenko commented on #70
1. Known issue #55
2. Looks like this situation can be handled by the agent. If `TestError` contains well known exceptions like `NUnit.IgnoreException` then treat scenario as skipped instead of failed. Don't forget about MSTest and xUnit.

[2022-01-14 09:45] andrey-brovko opened #73 "Report link"
I would like to print the launch link. Could you please help me with that?

The link looks like this:
https://reportportal.ru/#superadmin_personal/launches/all/18c1004f-d66c-4217-9aac-5c95b317914a

`{URL}/ui/#{projectName}/launches/all/{launchUuid}`

I need to get values in curve brackets.

My code looks like this:

[code]

The URL and the project name are hardcoded which is not good.

[2022-01-14 10:54] nvborisenko commented on #73
It's already implemented in scope of https://github.com/reportportal/commons-net/issues/74, but not yet released.

[2022-01-17 06:21] #73 closed

[2022-04-28 18:01] nvborisenko opened #74 "Plugin can be non-static to expose events?"
Now user should write something like
[code]

Looks like RP plugin can be injected (I didn't verify it)
[code]

It allows user to not specify the order of his bindings, and events may be non-static (what is good).

[2022-05-06 10:36] nvborisenko opened #75 "Withing RP integrated scenarios are executed even if [BeforeFeature] hook fails"